---
layout: page
description: "呼延十的成长之路"
background-color: "#395692"
---


{% for post in site.posts %}
wodetm
{% if post.featured == true %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endif %}
{% endfor %}

<div class="post-preview">
    <a href="{{ site.baseurl }}/2.时间归档">
        <h2 class="post-title">
            哎呀,这一页没有了...
        </h2>

        <h3 class="post-subtitle">
        更多文章请移步时间归档页面中查看......
        </h3>
        <div class="post-content-preview">
            更多文章请移步时间归档页面中查看......
        </div>
    </a>
</div>
<hr>
